<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.py" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="CGI Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Program Files\Python36\python.exe&quot; %s %s" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
